.container {
  margin: 50px auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.card {
  display: grid;
  column-gap: 20px;
  border-radius: 15px;
  text-decoration: none;
  grid-template-columns: auto auto;
  transition: color 0.15s ease, border-color 0.15s ease;
  background: rgba(25, 24, 63, 0.8) none repeat scroll 0% 0%;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 0.5px inset;
  color: rgba(255, 255, 255, 0.7);
  position: relative;
}

.img {
  width: 100%;
  border-radius: 15px;
  height: 100%;
}

.img_wrapper {
  display: grid;
  place-content: center;
}

.overview {
  overflow: hidden;
  font-size: 11px;
}

.headline {
  font-style: normal;
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin: 0px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-right: 40px;
}

.movie_info_wrapper {
  padding-top: 20px;
}
